[Unit]
Description=SVN Manager
Documentation=https://github.com/armadillica/svn-manager/
After=network.target

[Service]
Type=simple

ExecStart=/opt/svn-manager/svn-manager
WorkingDirectory=/opt/svn-manager
User=www-data
Group=www-data

Restart=on-failure
RestartSec=1s

EnvironmentFile=-/etc/default/locale

[Install]
WantedBy=multi-user.target
